@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(247, 247, 247);
  overflow: hidden;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}
// .title {
//   width: 100%;
//   height: 5%;
// }

.landing {
  width: 100%;
  height: 100%;
  background-color: white;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    // border: black 1px solid;
    padding: 0 35px;

    img {
      width: 175px;
      height: auto;
    }
    ul {
      display: flex;
      li {
        display: flex;
        align-items: center;
        font-size: 1.3em;
        color: black;
        margin: 0 10px;
        height: 76px;
        font-weight: 600;
        .twitch {
          display: flex;
          align-items: center;
          border: black solid 3px;
          background: linear-gradient(70deg, #bb00ff25, #c8f6ff25);
          height: 50%;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }
  .main-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg, #c8f6ff65, #c8f6ff50 35%, #bb00ff50);
    height: 100%;
    border-radius: 50px;
    div {
      background: white;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      border-radius: 30px;
      width: 150px;
      height: 150px;
    }
  }
}

.dashboard-container {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  .card-container {
    display: flex;
    overflow-y: scroll;
    height: 100%;
    width: 90%;
  }

  .dashboard-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100%;

    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    background-color: #17101a;
    padding: 15px;
    .profile-pic {
      width: auto;
      max-width: 150px;
      height: auto;
      max-height: 100px;
    }
    .dash-title {
      color: white;
      font-weight: 700;
    }
  }
  .ui.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // border: orange 1px solid;

    margin: 0 10px;
    width: 100%;

    .description {
      height: 60%;
    }
  }

  .ui.large.circular.button {
    position: fixed;
    right: 3%;
    bottom: 5%;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  }
}

.ui.active.centered.inline.loader {
  margin: auto;
}

.ui.card,
.ui.cards > .card {
  width: 532px;
  height: 200px;
}

.ui.blue.large.circular.icon.button {
  z-index: 100;
}

.ui.card {
  border: none;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1) !important;
}

//   .topic-container {
//     display: flex;
//     flex-wrap: wrap;
//     border: coral 1px solid;
//     width: 25%;
//   }

//   .topic-submit {
//     display: flex;
//     height: 5%;
//     align-items: center;
//   }

//   .topic-submit input {
//     height: 15px;
//   }
// }
